body {
    background: #3d3d49;
}
.priority-bg.active {
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.priority-bg{
    position: relative; /*Pseudo elements*/
    background-color:  #222228;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    text-align: left;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 10px 10px 30px;
}
.priority-bg::before {
    content: ''; /* Pseudo-element for style */
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    width: 1.5%; /* width of stripe */
    border-radius: 5px;
}
.priority-bg.all-tasks::before {
    background-color: #2a56b3;
}
.priority-bg.high-priority::before {
    background-color: #ee4266;
}
.priority-bg.medium-priority::before {
    background-color: #fe7348;
}
.priority-bg.low-priority::before {
    background-color: #63f4f7;
}
.priority-bg span {
    display: block;
    margin-top: 5px;
    font-size: 15px;
    color: #63646a;
    margin: 0;
}
.btn-color{
    background-color: #2a56b3;
    color: white;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px;
}
.btn-color:hover {
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    background-color: none;
    color: white;
    transform: scale(1.01);
}
.card-header{
    color: white;
    font-size: 15px;
    border-bottom: 1px solid grey;
}
.form-label{
    color: white;
    margin-top: .5rem;
}
.b-color{
    background-color: #2a56b3;
    color: white;
}
.b-color:hover{
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    background-color: none;
    color: white;
    transform: scale(1.01);
}
.card{
    border: none;
    background-color: #212127;
    padding: 20px;
    border-radius: 15px;
}
.card-body{
    padding: 0;
}
.list-group-item{
    color: white;
    border: none;
    background-color: #212127;
}
.list-group-item div span{
    font-size: 15px;
}
/*Checkbox*/
input[type="checkbox"] {
    /* Hide default checkbox styling */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* My own style */
     width: 25px;
     height: 25px;
     margin-right: 20px;
     border: 3px solid #2a56b3;
     border-radius: 15px;
     background-color: none;
     cursor: pointer;
     position: relative;
     top: 6px;
     transition: all 0.3s ease;
}
input[type="checkbox"]:checked {
     background-color: none;
     border-color: grey;
}
.completed-task {
    text-decoration: line-through;
    color: grey;
}
/*Delete X*/
.delete-btn {
  background-color: #212127;
  color: gray;
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
}
.delete-btn:hover {
  color: #ee4266;
}






